.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

/* -----------------------------------------------------------------------------------------
"GOLDMAN" FONT 
------------------------------------------------------------------------------------------ */ 

.goldman-regular {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.goldman-bold {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* -----------------------------------------------------------------------------------------
HELP & SETTINGS BUTTONS
------------------------------------------------------------------------------------------ */ 

.question-mark,
.settings-cog {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.question-mark {
    margin-right: 10px;
}

.settings-cog {
    margin-left: 10px;
}

/* -----------------------------------------------------------------------------------------
// SLIDER CONTAINER BOX STYLING 
------------------------------------------------------------------------------------------ */ 

.status-container {

  display: flex;
  align-items: center;
  gap: 10px;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  background-color: blue;
  border-radius: 10%;

}

/* -----------------------------------------------------------------------------------------
// SLIDER SWITCH STYLING 
------------------------------------------------------------------------------------------ */ 

/* Switch block sizing and position*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Grey background */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider block */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

/* Circle moving slider functionality */
 .slider:before {
  position: absolute;
  content: "";
  height: 26px; width: 26px;
  left: 4px; bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
} 

/* Changes slider background to green (Transition)*/
input:checked + .slider {
  background-color: #34c759; 
}

/* Moves circle in slider */
input:checked + .slider:before {
  transform: translateX(26px);
}

